<!-- User Info Section -->
                <div class="flex items-center w-full mt-auto">
                    <!-- Avatar -->
                    <img src="avatar.jpg" alt="User Avatar" class="object-cover w-12 h-12 rounded-full">

                    <!-- User Info -->
                    <div class="ml-3">
                        <h4 class="text-sm font-bold text-gray-900">Joe Smith</h4>
                        <p class="text-xs text-gray-600">Owner</p>
                    </div>

                    <!-- Dropdown Trigger -->
                    <button type="button" class="ml-auto text-gray-500 hover:text-gray-800">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
